* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px 10px 5px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
}

.image__uploadSection {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 30px;
  bottom: 0;
}

.image__h3 {
  width: 60%;
  background-color: white;
  margin: 10px 20px;
  padding: 10px 15px;
}
